@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.trofeo-image {
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trofeo-image:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgb(197, 197, 206);
}

/* additional media queries  */

@media (max-width: 1132px) {
  .custom-img-size {

  }
}

@media (max-width: 1132px) {
  .trophy-box {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .medals-colors{
   height: 980px;
  }
}

@media (max-width: 990px) {
  .medals-colors{
    height: auto;
  }
}

@media (max-width: 991px) {
  .products-box {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .history-img{
    height: 100px;
  }
}

@media (max-width: 430px) {
  .history-img{
    height: 70px;
  }
}

@media (max-width: 1400px) {
  .products-box {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .product-main {
    width: 350px;
  }
}

@media (max-width: 380px) {
  .product-main {
    width: 330px;
  }
}

@media (max-width: 768px) {
  .name-company {
    display: none;
  }
}

@media (max-width: 780px) {
  .products-names {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}


@media (max-width: 780px) {
  .add-product {
    padding-top: 0;
  }
}


@media (max-width: 1250px) {
  .cart-main {
    flex-direction: column;
  }
}
@media (max-width: 665px) {
  .cart-products {
    width: 100%;
  }
}

@media (max-width: 390px) {
  .cart-product{
    border: none;
  }
}

@media (max-width: 770px) {
  .change-color{
    display: none;
  }
}

@media (max-width: 830px) {
  .repsell-name{
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 430px) {
  .repsell-name{
    width: 330px;
    height: 150px;
  }
}

@media (max-width: 574px) {
  .repsell-img{
    display: none;
  }
}

@media (max-width: 450px) {
  .repsell-img-box{
    margin: 10px;
  }
}

@media (min-width: 800px) {
  .bumbles-edition{
    display: none;
  }
}

@media (max-width: 800px) {
  .title-lidership{
    width: 300px;
  }
}

@media (max-width: 800px) {
  .contact-form{
    height: 750px;
  }
}

@media (max-width: 800px) {
  .img-{
    height: 750px;
  }
}
